body {
    margin: 0;
    padding: 0;
    background-color: #efefef;
    color: rgb(86, 85, 85);
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.container {
    max-width: 1260px;
    margin: auto;
}

.d-flex {
    display: flex;
}

.bg-w {
    background-color: white;
}

.br-10 {
    border-radius: 10px;
}

.br-5 {
    border-radius: 5px;
}

.mt-15 {
    margin-top: 15px;
}

.page-header {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #ec5d3b;
    color: white;
    padding-bottom: 60px;
}

ul {
    margin: 0;
}

.nav ul {
    display: flex;
    justify-content: left;
    gap: 40px;
    list-style: none;
    font-size: 14px;
    padding: 20px 0px;
}

.social {
    display: flex;
    justify-content: right;
    gap: 0px 18px;
    justify-items: center;
}

.nav-social ul {
    display: flex;
    list-style: none;
    gap: 0px 15px;
    padding: 0px 0px 10px;
    font-size: 15px;
}

.nav-social ul li a {
    text-decoration: none;
    color: white;
}

.phone-no p {
    margin: 0;
    font-size: 13px;
}

.nav-header {
    position: absolute;
    display: flex;
    top: 85px;

    justify-content: space-between;
    padding: 7px;
    background-color: white;
    border-bottom: 2px solid #000000;
    z-index: 1000;
    border-radius: 7px;
}

.logo {
    width: 25%;
}

.nav-menu {
    width: 75%;
}

.nav-menu ul {
    display: flex;
    list-style: none;
    justify-content: center;
    gap: 28px;
    font-size: 16.7px;
    padding: 40px 5px;
    color: #ec5d3b;
}

.content {
    padding-top: 50px;

}

.carousel {
    background-color: white;
    position: relative;
    margin-top: 30px;
    overflow: hidden;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.carousel-inner {
    display: flex;
    transition: transform 0.5s;
}

.carousel-item {
    min-width: 100%;
    transition: opacity 0.5s;
}

.carousel-item img {
    width: 100%;
    display: block;
}

.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    user-select: none;
}

.carousel-control.prev {
    left: 10px;
}

.carousel-control.next {
    right: 10px;
}

.carousel-thumbnails {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
    padding: 16px 0px;
}

.carousel-thumbnails img {
    width: 60px;
    height: 40px;
    cursor: pointer;
    border-radius: 5px;
    transition: transform 0.3s, opacity 0.3s;
}

.carousel-thumbnails img:hover {
    transform: scale(1.1);
    opacity: 0.8;
}

.body-content {
    display: flex;
    gap: 20px;
    margin-top: 15px;
}

.left-side {
    width: 75%;
}

.article {
    background-color: white;
    border-radius: 5px;
    padding: 10px 20px 80px;
    line-height: 35px;
    font-size: 17px;
    letter-spacing: 0.8px;
    color: rgb(86, 85, 85);
}

.our-campuses p {
    font-size: 24px;
    margin-top: 0px;
    font-weight: 500;
}

.our-campuses ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    font-size: 14px;
    font-weight: 600;
}

.our-campuses ul li a {
    text-decoration: none;
    color: rgb(20, 114, 196);
}

.right-side {
    width: 25%;
}

.portal-links {
    padding: 20px 0px 30px;

}

.portal-links ul {
    list-style: none;
    color: #ec5d3b;
    line-height: 35px;
}

.events {
    background-color: #ec5d3b;
    padding: 16px 0px 40px;
    margin-top: 15px;
}

.events ul {
    list-style: none;

}

.news {
    border-top: 4px solid #ec5d3b;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-bottom: 15px;
}

.news p {
    font-size: 25px;
    padding: 15px;
    margin-bottom: 0px;
}

.news ul {
    padding: 0 20px;
    padding-bottom: 30px;
    list-style: none;

}

.news ul li {
    padding: 6px 0;
}

.tab-filter {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: 4px solid #ec5d3b;
    padding-bottom: 50px;

}

.tab-filter p {
    padding: 20px 26px 0px;
}

.tabs {
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.tabs button {
    background-color: rgb(86, 85, 85);
    color: white;
    border: none;
    padding: 10px 24px;
    cursor: pointer;
    
}

.tabs button:hover {
    background-color: rgb(107, 106, 106);
}

.tab-content {
    margin: 8px 44px;
    border: 1px solid black;
}

.tab-content span {
    padding: 30px 20px 10px 20px;
}

.apply-form {
    border-top: 4px solid #ec5d3b;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    margin-bottom: 15px;
}

.apply-form p {
    font-size: 23px;
    font-weight: 100;
    padding: 15px;
    margin-bottom: 0px;
}

.form {
    text-align: center;
    padding: 20px 10px 20px 30px;
}

form input {
    padding: 10px 20px;
    font-size: 15px;
    border-radius: 5px;
    border: 1px solid rgb(167, 163, 163);
}

.select-option {
    padding: 9.5px 100px 9.5px 18px;
    border-radius: 5px;
    text-align: left;
    border: 1px solid rgb(167, 163, 163);
}

textarea {
    padding: 10px 20px;
    border: 1px solid rgb(167, 163, 163);
    border-radius: 5px;
    width: 68%;
}

.form button {
    padding: 12px 92px;
    background-color: rgb(1, 188, 1);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 40px;
}

.form button:hover {
    cursor: pointer;
    background-color: rgb(2, 167, 2);
}

.student-review {
    gap: 15px;
}

.student-speak {
    width: 50%;
    border-top: 4px solid #ec5d3b;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.features {
    width: 50%;
    border-top: 4px solid #ec5d3b;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.accordian {
    width: 50%;
    border-top: 4px solid #ec5d3b;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.accordion-content {
    display: flex;
    padding: 10px 30px;
}

.accordion {
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
}

.main-acc {
    padding: 0px 30px 80px;
}

.accordion-item {
    border-bottom: 1px solid #ddd;
}

.accordion-button {
    background-color: #efefef;
    font-size: 25px;
    color: rgb(86, 85, 85);
    padding: 15px;
    width: 100%;
    border: none;
    text-align: left;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s;
}

.accordion-button:hover {
    cursor: pointer;
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    background-color: white;
    padding: 0 15px;
}

.accordion-content p {
    padding: 15px 0;
}

.counter {
    width: 50%;
    border-radius: 5px;
    color: white;
    background-color: #282c3f;
}

.stats-contant{
    display: flex;
    gap: 380px;
}

.stats-imgs{
    display: flex;
    flex-direction: column;
    gap: 44px;
    width: 6%;
    padding-left: 25px;

}

.stats-txt{
    text-align: right;
}

.stats-txt h2{
    margin-top: 0px; 
    margin-bottom: 10px;  
}

.stats-txt p{
    margin-top: 0px;
    margin-bottom: 20px;
}

.our-recuiters{
    padding: 15px 15px 72px;
    display: flex;
    flex-direction: column;
    border-left: 128px solid #ec5d3b;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    gap: 76px;
}

.recuiters-logo{
    display: flex;
    justify-content: space-around;
    margin-left: -128px;
}

.recuiters-logo img{
    width: 16%;
}





/* Footer css */

.footer-sec {
    background-color: #282c3f;
    color: white;
    padding: 20px 0;
    line-height: 2;
}

.f-sec {
    width: 85%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.about-sec,
.useful-l,
.knowledge-p {
    flex: 1;
    margin: 10px;
}

.about-sec h3,
.useful-l h3,
.knowledge-p h3 {
    font-size: 1.5em;
    margin-bottom: 10px;
    color: white
}

.about-sec p {
    font-size: 1em;
    line-height: 2em;
}

.location,
.contact,
.email-1,
.email-2 {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.location img,
.contact img,
.email-1 img,
.email-2 img {
    width: 20px;
    margin-right: 10px;
}

.useful-l ul,
.knowledge-p ul {
    padding: 0;
}

.useful-l ul li,
.knowledge-p ul li {
    margin-bottom: 5px;
}

.useful-l ul li a,
.knowledge-p ul li a {
    text-decoration: none;
    color: #ec5d3b;
    font-size: 1em;
}

.footer-copyright{
    background-color: #2c3345;
    color: white;
    padding: 28px 0px;
}
